/*body {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  min-height: 100vh;*/
/*  margin: 0;*/
/*  background: #eaecf0;*/
/*  font-size: 14px;*/
/*}*/

.light-mode {
  --primary-color: white;
  --info-color: #505260;
  --info-color-darker: white;
  --info-color-lighter: #7c8b97;
  --secondary-color: #7c8b97;
  --secondary-color-lightest: white;
  --secondary-color-darkest: black;
  width: 100%;
  
  font-family: "PT Sans", sans-serif;
}

.dark-mode {
  --primary-color: #505260;
  --info-color: white;
  --info-color-darker: #505260;
  --info-color-lighter: white;
  --secondary-color: #b8b7bb;
  --secondary-color-darker: #41404a;
  --secondary-color-lighter: #53545d;
  --secondary-color-darkest: white;
  --secondary-color-lightest: #b8b7bb;
  width: 20%;
  font-size: 1.4vw;
  font-family: "PT Sans", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
}

.menu {
  display: flex;
  flex-direction: column;
}
.menu > * ~ * {
  margin-top: 0.5rem;
}
.menu-item {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  color: var(--secondary-color);
  white-space: nowrap;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.menu-item.active {
  color: var(--info-color-darker);
  background: var(--info-color);
}

.divider {
  position: relative;
  width: 123%;
  left: -27px;
  max-height: 2px;
  margin: 1rem 0;
  border-top: 2px solid var(--divider-border-color);
}